@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Nunito", sans-serif;
}

html {
    font-size: 62.5%;
}

/* end common styles */

/*Navbar*/
.navbar{
    width: 100%;
    height: 14rem;
    background-color: #000;
    position: fixed;
    top:-14rem;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: .2rem .2rem .2rem #000;
    transition: top .4s;
}
.navbar.change {
	top:0;
}
.navbar-link{
    color: #fff;
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: color .3s;
}
.navbar-link:hover{
    color: #f0ed56;
}

.navbar-link i {
    font-size: 7rem;
}
.navbar-link span{
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-top: .5rem;
}
.menu{
    width: 4rem;
    height: 6rem;
    background-color: #000;
    position: fixed;
    top:1rem;
    left: 5rem;
    border-radius: 30rem 30rem 15rem 15rem;
    cursor: pointer;
    z-index: 100;
    transition: top .4s;
}
.menu.change {
    top: 15rem;
}
.menu::before {
    content:"";
    width: .3rem;
    height: 15rem;
    background-color: #000;
    position: absolute;
    top:-15rem;
    left:calc(50% - .15rem);
}
/* end Navbar */
/* section 1 */
.section-1 {
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.section-heading {
    text-align: center;
    max-width: 80%;
    height: auto;
    top: 50px;
}
.section-1-icons i.dog{
    position: absolute;
    max-width: 80%;
    height: auto;
    /* hide elemements with scale() */
    transform: translate(-50%,-50%)scale(0);
    transition: transform .3s;
}
.section-1-icons i.dog.change {
    transform: translate(-50%,-50%)scale(1);
    transition: transform .3s .3s;
}
/* end of section 1 */

/* section 2 */
.section-2 {
    width:100%;
    height:100vh;
    background-color:#222;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    padding: 10rem 0;
}
.cards-container {
    display:flex;
    justify-content:space-evenly;
}
.card {
    width:30rem;
    background-color:red;
    padding:4rem;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
    box-shadow: 1rem 1rem 1rem #000; 
    position: relative;
    transform: rotateY(20deg)skew(-2deg);
    transition: transform 0.5s, box-shadow 0.5s;
}
.card::before {
    content:"";
    height: 100%;
    width: 1rem;
    background-color: #888;
    position: absolute;
    top:0;
    left:-1rem;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -.1rem -.1rem .1rem #000;
}
.card::after {
    content:"";
    height: 1rem;
    width: 100%;
    background-color: #888;
    position: absolute;
    top:-1rem;
    left:0;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -.1rem -.1rem .1rem #000;
}
.card:hover {
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
}
.card-img {
    width:100%;
}

.card-name {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #111;
    margin:2rem;
    text-shadow: 0.15rem 0.15rem 0.15rem #000;
}
.card-btn {
    width:70%;
    background-color: #111;
    color:#888;
    border-radius: 5rem;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    text-transform: capitalize;
    border: none;
    padding: 0.5rem 0;
    cursor: pointer;
    box-shadow: -0.2rem -0.2rem -0.2rem #111;
}
/* end section 2 */

/* section 3 */
.section-3 {
    background-color: #000;
    padding: 5rem 0;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10rem;
}
.gallery-link {
    position: relative;
}
.gallery-link::before {
    content: "";
    position: absolute;
    top:2vw;
    left: 80%;
    width: .2rem;
    height: 0;
    background-color: #fff;
    transition: height 0.5s;
    z-index: 10;
}
.gallery-link:hover::before {
    height: 80%;
}
.gallery-link::after {
    content: "";
    position: absolute;
    top:30%;
    left: 2rem;
    width: 0;
    height: .2rem;
    background-color: #fff;
    transition: width 0.5s;
}

.gallery-link:hover::after{
    width: 90%;
}

.food-img {
    width:24vw;
    height:15vw;
    object-fit: cover;
    box-shadow: .3rem .3rem .1rem #b514dd, 
    .5rem .5rem .1rem #f0ed56,
    .7rem .7rem .1rem #6056f0;
    transition: all 0.5s;
}

.gallery-link:hover .food-img {
    box-shadow: 1rem 1rem .1rem #b514dd, 
    2rem 2rem .1rem #f0ed56,
    3rem 3rem .1rem #6056f0;
    filter: blur(.5rem);
    opacity: .5;
    transform: scale(1.1);
}
.food-name {
    position: absolute;
    top:3rem;
    left: 3rem;
    font-size:2rem;
    font-weight:700;
    test-transform:uppercase;
    letter-spacing:0.1rem;
    color:#fff;
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
}

.gallery-link:hover .food-name {
    width: 100%;
    transition: width 1.5s 0.5s;
}

.food-description {
    position:absolute;
    bottom: 3vw;
    left: 2rem;
    width:70%;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}
.gallery-link:hover .food-description {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 1s;
}
/* end section 3 */

/* section 4 */
.section-4{
    width: 100%;
    height: 30vh;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 3rem 0;
    position: relative;
}
.section-4-text{
    text-transform: uppercase;
}
.section-4-heading{
    font-size: 4rem;
    font-weight: 900;
    color: #b514dd;
}
.section-4-paragraph {
    font-size: 1.5rem;
    color: #f0ed56;
}
.signup-form{
    display: flex;
    align-items: center;
}
.signup-form-input{
    width: 35rem;
    height: 5rem;
    padding: 1rem;
    border: 0.2rem solid #f0ed56;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #f0ed56;
}
.signup-form-btn{
    position: relative;
    left: -4.5rem;
    width: 4rem;
    height:4rem;
    background-color: #b514dd;
    color: #000;
}
.copyright {
    position: absolute;
    bottom: 3rem;
}
/* end section 4 */

/* Responsive */
@media (max-width:1400px) {
	html {
	  font-size:50%;
	}
	.section-2 {
	  height:auto;
	  padding:10rem 0 12rem 0;
	}
	.cards-container{
	  margin-top:5rem;
	}
	.gallery-link {
        width:40rem;
        height:25rem;
        margin: 5rem;
	}
	.food-img {
        width:100%;
        height: 100%;
	}
}
@media(max-width:1000px){
    .section-heading {
        font-size: 9rem;
        margin: .5rem;
    }
    .section-1-icons .dog {
        width:100%;
        height: auto;
    }
    .cards-container {
        flex-wrap: wrap;
    }
    .card{
        margin: 5rem;
    }
    .section-4 {
    	height:30rem;
    }
}
@media(max-width:900px){
  .navbar-link {
  	margin:2rem;
  }
  .navbar-link i {
    font-size-4rem;
  }
  .navbar-link span{
    font-size:2rem;
  }
}
@media(max-width:700px){
	.section-heading {
	  font-size:7rem;
	  margin: 0 10rem;
	}
	.section-1-icons i {
	  font-size:20rem;
	}
	.menu {
	  left:20rem;
	}
	.section-4 {
	  height:40rem;
	  flex-direction:column;
	  justify-content:flex-start;
	  align-items:center;
	}
	.section-4-text {
	  margin-bottom:8rem;
	}
}
@media(max-width:550px){
    html {
        font-size: 40%;
    }
    .navbar-link {
        margin: 0 .7rem;
    }
}
/* End Responsive */
