@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Puppies+Play&display=swap');

/* common styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "Nunito", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}



/* end common styles */

/*Navbar*/
.navbar{
    width: 100%;
    height: 9rem;
    background-color: rgba(253, 69, 176, 1);
    position: fixed;
    top:-9rem;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: .2rem .2rem .2rem #000;
    transition: top .4s;
}
.navbar.change {
	top:0;
}
.navbar-link{
    color: #fff;
    margin: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: color .3s;
}
.navbar-link:hover{
    color: #9900FF;
}


.navbar-link i {
    font-size: 5rem;
}
.navbar-link span{
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: .5rem;
    margin-top: .5rem;
}
.menu{
    width: 4rem;
    height: 6rem;
    background-color: rgb(253, 69, 176,1);
    position: fixed;
    top:5rem;
    left: 5rem;
    border-radius: 30rem 30rem 15rem 15rem;
    box-shadow: .2rem .2rem .2rem #000;
    cursor: pointer;
    z-index: 100;
    transition: top .4s;
}
.menu.change {
    top: 14rem;
}
.menu::before {
    content:"";
    width: .3rem;
    height: 10rem;
    background-color: rgba(253, 69, 176,1);
    position: absolute;
    top:-5rem;
    left:calc(50% - .15rem);
}
/* end Navbar */
/* section 1 */
.section-1 {
    width: 100%;
    height: 100vh;
    background-color: #d495fd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;

}

img.stacy {
    max-width: 100%;
    margin-top: 5px;
    animation: float 3s linear infinite;
    animation-direction: alternate;
    
}
img.dog {
    max-width: 100%;
    margin-top: -25px;
    
}
img.delight{
    max-width: 100%;
    margin-top: -50px;
    animation: floatAgain 3s linear infinite;
    animation-direction: alternate;
}
@keyframes float {
    from { transform: rotate(5deg);}

    to {transform: rotate(-5deg);}
    
}
@keyframes floatAgain {
    from { transform: rotate(-5deg);}

    to {transform: rotate(5deg);}
    
}
/*
h1 {
    color:white;
    animation: float 3s linear infinite;
    animation-direction: alternate;
}

@keyframes float {
    from { transform: rotate(5deg);}

    to {transform: rotate(-5deg);}
    
}
    */
/* end of section 1 */

/* section 2 */
.section-2 {
    width:100%;
    background-color:#f1ff72;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.heading-two {
    font-family: "Puppies Play", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20rem;
    text-align: center;
    color:#9900FF;
  }

.cards-container {
    /*display:flex;*/

}


.card {
    width:80vw;
    background-color:#9900FF;
    padding:4rem;
    display:flex;
    flex-direction:column;
    align-items: center;
    box-shadow: 1rem 1rem 1rem #000; 
    transform: rotateY(20deg)skew(-2deg);
    transition: transform 0.5s, box-shadow 0.5s;
}
.card::before {
    content:"";
    height: 100%;
    width: 1rem;
    background-color: #888;
    position: absolute;
    top:0;
    left:-1rem;
    transform: skewY(45deg);
    transform-origin: right;
    box-shadow: -.1rem -.1rem .1rem #000;
}
.card::after {
    content:"";
    height: 1rem;
    width: 100%;
    background-color: #888;
    position: absolute;
    top:-1rem;
    left:0;
    transform: skewX(45deg);
    transform-origin: bottom;
    box-shadow: -.1rem -.1rem .1rem #000;
}
.card:hover {
    transform: rotateY(20deg) skewX(-2deg) translateY(-3rem);
}

.signature {
    font-family: "Puppies Play", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 10rem;
    color:#000
}

.bone {
    font-size: 15rem;
    color:#f0ed56
}
.card-text{
    font-size: 3rem;
    text-indent: 30px;
    text-align: justify;
    color:#fff;
}

/* end section 2 */

/* section 3 */

.section-3 {
    background-color: #9900FF;
    padding: 5rem 0;
}
.heading-three {
    font-family: "Puppies Play", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 20rem;
    text-align: center;
    color:#f0ed56;
  }
.food-text{
    font-size: 3rem;
    margin-left: 8rem;
    margin-right: 8rem;
    text-indent: 30px;
    text-align: justify;
    color:#fff;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 8rem;
}

.gallery-link {
    position: relative;
}
/*
.gallery-link::before {
    content: "";
    position: absolute;
    top:1vw;
    left: 90%;
    width: .8rem;
    height: 0;
    background-color: #fff;
    transition: height 0.s;
    z-index: 10;
}
*/   
.gallery-link:hover::before {
    height: 80%;
}
.gallery-link::after {
    content: "";
    position: absolute;
    top:30%;
    left: 2rem;
    width: 0;
    height: .2rem;
    background-color: #fff;
    transition: width 0.5s;
}

.gallery-link:hover::after{
    width: 90%;
}

.food-img {
    width:25vw;
    height:15vw;
    object-fit: cover;
    box-shadow: .3rem .3rem .1rem #b514dd, 
    .5rem .5rem .1rem #f0ed56,
    .7rem .7rem .1rem #6056f0;
    transition: all 0.5s;
}

.gallery-link:hover .food-img {
    box-shadow: 1rem 1rem .1rem #b514dd, 
    2rem 2rem .1rem #f0ed56,
    3rem 3rem .1rem #6056f0;
    filter: blur(.5rem);
    opacity: .5;
    transform: scale(1.1);
}
.food-name {
    position: absolute;
    top:2rem;
    left: 3rem;
    font-size:2rem;
    font-weight:700;
    test-transform:uppercase;
    letter-spacing:0.1rem;
    color:#fff;
    width: 0;
    overflow: hidden;
    transition: width 0.3s;
}

.gallery-link:hover .food-name {
    width: 100%;
    transition: width 1.5s 0.5s;
}

.food-description {
    position:absolute;
    bottom: 3vw;
    left: 2rem;
    width:70%;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

.gallery-link:hover .food-description {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s 1s;
}

/* end section 3 */

/* section 4 */
.section-4{
    width: 100%;
    height: 80rem;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    flex-direction:column;
    align-items: center;
    padding: 2rem 1rem;
    position: relative;
}

.section-4-heading{
    font-family: "Puppies Play", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 15rem;
    text-align: center;
    color:#9900FF;
}
.section-4-paragraph {
    font-size: 2.5rem;
    color: #f0ed56;
    text-align:center;
}
.signup-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.signup-form-input{
    width: 35rem;
    height: 5rem;
    padding: 1rem;
    border: 0.2rem solid #f0ed56;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #000;
    margin-bottom:10px;
}
.signup-form-textarea {
    width: 35rem;
    height: 15rem;
    padding:1rem;
    border: 0.2rem solid #f0ed56;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    color: #000;
    resize:none;
}

.signup-form-btn{
    position: relative;
    width: 15rem;
    height:4rem;
    background-color: #b514dd;
    color: #000;
    margin-top: 5rem;
}
.signup-btn-form i {
  color:red;
}
.copyright {
    position: relative;
    bottom: 2rem;
    color: #fff;
    margin-top: 10rem;
}
/* end section 4 */


/* Responsive */
/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

    .food-img {
        width: 100vw;
    }
    
    .section-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    
    }
    img.stacy {
        max-width: 100%;
        margin-top: 5px;
        
    }
    img.dog {
        max-width: 100%;
        margin-top: -25px;
        
    }
    img.delight{
        max-width: 100%;
        margin-top: -50px;
    }
    .section-4 {
        height:80rem;
        flex-direction:column;
        justify-content:flex-start;
        align-items:center;
      }
    /* end of section 1 */
   
}

@media (max-width:1400px) {
	html {
	  font-size:50%;
	}
	.section-2 {
	  height:auto;
	  padding:10rem 0 12rem 0;
	}
	.cards-container{
	  margin-top:5rem;
	}
	.gallery-link {
        width:40rem;
        height:25rem;
        margin: 5rem;
	}
	.food-img {
        width:100%;
        height: 100%;
	}
}
@media(max-width:1000px){
    .cards-container {
        flex-wrap: wrap;
    }
    .card{
        margin: 5rem;
    }
    .section-4 {
    	height:30rem;
    }
}
@media(max-width:900px){
  .navbar-link {
  	margin:2rem;
  }
  .navbar-link i {
    font-size-4rem;
  }
  .navbar-link span{
    font-size:2rem;
  }
  
}
@media(max-width:700px){
    .food-img {
        width: 100%;
    }
    .section-heading{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    
    }
    img.stacy {
        max-width: 100%;
        margin-top: 5px;
        
    }
    img.dog {
        max-width: 100%;
        margin-top: -25px;
        
    }
    img.delight{
        max-width: 100%;
        margin-top: -50px;
    }
	
	.menu {
	  left:10rem;
	}
	.section-4 {
	  height:80rem;
	  flex-direction:column;
	  justify-content:flex-start;
	  align-items:center;
	}
	.section-4-text {
	  margin-bottom:2rem;
	}
}
@media(max-width:550px){
    html {
        font-size: 40%;
    }
    .navbar-link {
        margin: 0 .7rem;
    }
}
/* End Responsive */
